.menu-toggle {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  margin-left: auto;
  padding-right: 20px;
}
.nav-links {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #860adf;
    padding: 10px 0;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    padding: 10px 0;
  }

  .single-line-text h2 {
    font-size: 1.3rem;
    text-align: center;
    text-color: yellow;
  }
}
